/* Imports */

/* Variables */

/* Overall */

html {
  
}

body {
    background-color: #375373;
    color: aliceblue;
}


/* Typography */ 
h1 {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

h3 {

}

h4 {

}

h5 {

}

p {

}

a {

}

/* LOGO */
#logo {
  position: fixed;
  top: 24px;
  left: 40px;
  font-size: 32px; ;
}
/*  NAV  */
#nav {
    position: fixed;
    top: 20px;
    right: 20px;
}

#nav a {
    color: aliceblue;
}

#nav li {
  display: inline-block;
  font-size: 24px;
  margin-right: 40px;
  line-height: 60px;
}

#nav li:hover {
  color: aliceblue;
  transform: scale(1.1);
  border-bottom: 3px solid aliceblue;
  /* background-color:blue; */
  margin-right: 60px;
  /* transform: rotate(20deg); */
  transition-duration: 500ms;
  cursor: pointer;
}

/* Page layout */
.section {
    min-height: 100vh;
}

#bio {
    background-image: url('../images/heroimg.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.caseStudy {
  background-color: aquamarine;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}